/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Title Container */
.S-title-container {
    width: 100%;
    margin-left: 80px;
    margin-top: 70px;
    text-align: left;
    padding: 20px;
}

.S-title {
    font-size: 24px;
    color: #03045e;
    font-weight: bold;
}

/* Main Container Layout */
.S-main-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 72px); /* Full height minus title height */
}

/* Sidebar */
.S-sidebar {
    width: 20%; /* 20% width for the sidebar */
    padding: 30px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to the left */
    margin-left: 80px; /* Moves the sidebar a bit to the right */
}

/* Sidebar Buttons */
.S-tab-button {
    display: block;
    width: calc(100% - 50px); /* Adjusted width to account for margin */
    padding: 15px 25px;
    margin-bottom: 10px;
    background: white;
    color: #03045e;
    font-size: 16px;
    text-align: left;
    border: none;
    cursor: pointer;
    transition: background 0.7s ease, color 0.7s ease;
}

.S-tab-button.active {
    background: #d4d6da;
    color: #03045e;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 30px; /* Moves the active button slightly more to the right */
}

/* Content Area */
.S-content {
    width: 80%; /* Take up the remaining space */
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    overflow-y: auto;
    color: #03045e;
    border-color: #03045e;
}

/* Content Items */
.S-content-item {
    display: none; /* Hide all content by default */
}

.S-content-item.active {
    display: block; /* Show active content */
}

.S-content-item h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.S-content-item p {
    font-size: 18px;
    line-height: 1.5;
}
