@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Oswald:wght@200..700&display=swap');

* {
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.mainContainer {
    position: static;
    display: flex;
    flex-direction: column; 
    margin-top: 5%;
    margin-left: 8%;
    width: 90%;
    gap: 10px; 
    height: calc(100vh - 72px);    
    overflow-y: auto;
}

.removeHead {
    height: 7%;
    width: 100%;
    padding: 0px 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}


/* Back Button */
.editcrl {
    margin: 0;
    display: flex;
    height: 45px;
    width: 45px;
    align-items: center;       
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(34, 27, 27, 0.5);
}

.editcrl i{
    color: #abb3b8;
    font-size: 35px;
}

.editcrl:hover{
    border: 3px solid #2691d9;
    transform: scale(1.2); 
}

.editcrl:hover i{
    color: #2691d9;
}

#settingsBtn {
    margin: 0;
    display: flex;
    height: 45px;
    width: 45px;
    align-items: center;       
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0 5px 15px rgba(34, 27, 27, 0.5);
    cursor: pointer;
}

#settingsBtn i {
    color: #abb3b8;
    font-size: 35px;
}

#settingsBtn:hover {
    border: 3px solid #2691d9;
    transform: scale(1.2); 
}

#settingsBtn:hover i {
    color: #2691d9;
}

.center-screen {
    position: absolute; /* Position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% of its width and height */
    font-size: 32px; /* Adjust font size as needed */
    font-weight: bold;
    color: rgb(33, 121, 193); /* Highlight color for "NO LIVE" */
    text-transform: uppercase;
    text-align: center;
}

